In [1]:
import pandas as pd

In [21]:
log = pd.read_csv('https://lms.skillfactory.ru/assets/courseware/v1/898ed1ca47bd30eb121758067cd97e2a/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/log.csv', header=None)

In [22]:
log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
0    1000 non-null object
1    985 non-null object
2    485 non-null float64
3    138 non-null float64
dtypes: float64(2), object(2)
memory usage: 31.3+ KB

In [23]:
log.head(15)

,0,1,2,3
0,Запись пользователя № - user_919,[2019-01-01 14:06:51,NaN,NaN
1,Запись пользователя № - user_973,[2019-01-01 14:51:16,NaN,NaN
2,Запись пользователя № - user_903,[2019-01-01 16:31:16,NaN,NaN
3,Запись пользователя № - user_954,[2019-01-01 17:17:51,NaN,NaN
4,Запись пользователя № - user_954,[2019-01-01 21:31:18,NaN,NaN
5,Запись пользователя № - user_917,[2019-01-01 23:34:55,156789.0,NaN
6,Запись пользователя № - user_900,[2019-01-01 4:37:25,NaN,NaN
7,Запись пользователя № - user_980,[2019-01-01 6:31:23,NaN,NaN
8,Запись пользователя № - user_906,[2019-01-02 10:57:08,NaN,NaN
9,Запись пользователя № - user_952,[2019-01-02 16:55:06,NaN,NaN
10,Запись пользователя № - user_972,[2019-01-02 20:47:54,NaN,NaN
11,Запись пользователя № - user_966,[2019-01-02 21:32:20,NaN,NaN
12,Запись пользователя № - user_964,[2019-01-02 21:32:35,NaN,NaN
13,Запись пользователя № - user_978,[2019-01-02 5:25:40,NaN,NaN
14,Запись пользователя № - user_917,[2019-01-02 8:57:36,145732.0,1987653.0

In [14]:
sample = pd.read_csv('https://lms.skillfactory.ru/assets/courseware/v1/918e647bafd21deb4413804bd4a8c865/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/sample.csv')

In [15]:
columns = sample.columns

In [16]:
sample.columns = [x.lower() for x in sample.columns]

In [17]:
sample.columns

Index(['name', 'city', 'age', 'profession'], dtype='object')

In [24]:
log.columns = ['user_id', 'time', 'bet', 'win', ]

In [25]:
log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
user_id    1000 non-null object
time       985 non-null object
bet        485 non-null float64
win        138 non-null float64
dtypes: float64(2), object(2)
memory usage: 31.3+ KB

In [26]:
log.describe()

                bet           win
count  4.850000e+02  1.380000e+02
mean   6.785738e+03  9.562102e+04
std    7.720292e+04  8.554669e+05
min    1.000000e+02  3.691000e+03
25%    3.000000e+02  5.096250e+03
50%    6.000000e+02  5.935000e+03
75%    9.000000e+02  6.978750e+03
max    1.678321e+06  9.876543e+06

In [47]:
users = pd.read_csv('https://lms.skillfactory.ru/assets/courseware/v1/5471c5ea3f70b9fefce686c669d5ce2c/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/users.csv', encoding='koi8_r', sep='\t', names=['user_id', 'email', 'geo', ])

In [48]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 3 columns):
user_id    101 non-null object
email      100 non-null object
geo        98 non-null object
dtypes: object(3)
memory usage: 2.4+ KB

In [ ]:
users.columns = ['user_id', 'email', 'geo', ]