In [1]:
import pandas as pd

In [2]:
football = pd.read_csv('https://lms.skillfactory.ru/assets/courseware/v1/d05df2022e56c6de021ab6e54949fe6c/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/data_sf.csv')

In [3]:
len(football['Club'].value_counts())

650

In [6]:
football['Club'].value_counts().head(15)

V-Varen Nagasaki          30
Shonan Bellmare           30
Padova                    29
Vissel Kobe               29
FC Emmen                  29
De Graafschap             29
Cosenza                   28
Morecambe                 28
Crewe Alexandra           28
Doncaster Rovers          28
Mansfield Town            28
Northampton Town          28
VfL Sportfreunde Lotte    28
Bury                      28
Colchester United         28
Name: Club, dtype: int64

In [5]:
football['Club'].value_counts().tail()

Cruzeiro             8
GD Chaves            7
Vitória Guimarães    7
Dinamo Zagreb        7
Atlético Mineiro     6
Name: Club, dtype: int64

In [12]:
football['Position'].value_counts(normalize=True) > 0.10

GK      True
ST      True
CB      True
CM     False
LB     False
RB     False
RM     False
LM     False
CDM    False
CAM    False
RCB    False
LCB    False
LW     False
RCM    False
RW     False
LCM    False
LDM    False
RDM    False
LS     False
RS     False
RWB    False
LWB    False
CF     False
LF     False
LAM    False
RF     False
RAM    False
Name: Position, dtype: bool

In [13]:
football['Position'].value_counts(normalize=True) < 0.01

GK     False
ST     False
CB     False
CM     False
LB     False
RB     False
RM     False
LM     False
CDM    False
CAM    False
RCB    False
LCB    False
LW     False
RCM    False
RW     False
LCM    False
LDM    False
RDM    False
LS      True
RS      True
RWB     True
LWB     True
CF      True
LF      True
LAM     True
RF      True
RAM     True
Name: Position, dtype: bool

In [15]:
football['FKAccuracy'].value_counts(bins=5)

(21.2, 39.4]     4859
(39.4, 57.6]     3957
(57.6, 75.8]     2108
(2.908, 21.2]    1760
(75.8, 94.0]      213
Name: FKAccuracy, dtype: int64

In [33]:
round(
    football[football.Nationality == 'Spain']['Wage'].value_counts(bins=4, normalize=True) * 100
).apply(int)

(620.999, 95750.0]      97
(95750.0, 190500.0]      2
(190500.0, 285250.0]     1
(285250.0, 380000.0]     0
Name: Wage, dtype: int64

In [39]:
print(', '.join(list(football[(football.Club == "Juventus")&(football.Nationality == 'Brazil')]['Name'].sort_values())))

Alex Sandro, Douglas Costa

In [57]:
a = football[football.Age > 35]['Club'].value_counts().reset_index()
a.columns = ['Club', 'Players Count']
a[a['Players Count'] == a['Players Count'].max()]['Club']
# a

0         Club Atlético Huracán
1    Hokkaido Consadole Sapporo
Name: Club, dtype: object

In [66]:
football[football.Nationality == 'Argentina']['Age'].value_counts(bins=4)

(22.25, 28.5]      200
(15.974, 22.25]    197
(28.5, 34.75]      128
(34.75, 41.0]       49
Name: Age, dtype: int64

In [65]:
round(
    football[football.Nationality == 'Spain']['Age'].value_counts(normalize=True) * 100,
    2
)[21]

11.77

In [73]:
a = football.groupby(['Position'])['Wage'].sum()
a[a > 5000000]

Position
CAM     5500000
CB      7476000
CM      6194000
GK      8784000
LB      6096000
LM      5440000
RB      5034000
RM      5098000
ST     11873000
Name: Wage, dtype: int64

In [75]:
a = football.groupby(['Position'])[['Wage', 'Value']].mean()

In [84]:
b = a[a.Value == a.Value.max()]
b

             Wage       Value
Position
LF        75125.0  27362500.0

In [85]:
    b.apply(int)

Wage        75125
Value    27362500
dtype: int64

In [100]:
a = football.groupby(['Club'])['Wage'].agg(['mean', 'median']).reset_index()

In [104]:
b = a[a['mean'] == a['median']]
b['Club'].count()

52

In [108]:
b[b['mean'] == b['mean'].max()]

         Club     mean  median
168  Cruzeiro  13000.0   13000

In [109]:
football.groupby(['Club'])['Wage'].sum()['Chelsea']

2035000

In [110]:
football[(football.Nationality == 'Argentina')&(football.Age == 20)].Wage.max()

54000

In [111]:
football[(football.Nationality == 'Argentina')&(football.Age == 30)].Wage.max()

300000

In [112]:
football[(football.Nationality == 'Argentina')&(football.Age == 30)].Wage.min()

1000

In [125]:
print(
    ';'.join(
        football[(football.Nationality == 'Argentina')&(football.Club == 'FC Barcelona')][['Strength', 'Balance']].max().apply(str)
    )
)

59;95

In [144]:
pivot = football[football.Club.isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(
    values=['Wage'],
    index=['Nationality'],
    columns=['Club'],
    aggfunc='sum',
    margins=True,
    fill_value=0,
)
display(pivot.sort_values(by=('Wage', 'All'), ascending=False))

                           Wage                                         \
Club               FC Barcelona Juventus Manchester United Real Madrid
Nationality
All                     3967000  2335000           2357000     4138000
Spain                    912000        0            260000     1404000
France                   495000   145000            375000      459000
Brazil                   465000   335000             91000      570000
Argentina                565000   205000            206000           0
Croatia                  260000   160000                 0      420000
Germany                  240000   160000                 0      355000
Belgium                  110000        0            230000      240000
Italy                         0   460000             88000           0
Portugal                 125000   405000                 0           0
England                       0        0            478000           0
Uruguay                  455000        0                 0           0
Chile                    205000        0            215000           0
Wales                         0        0             13000      355000
Costa Rica                    0        0                 0      195000
Bosnia Herzegovina            0   180000                 0           0
Serbia                        0        0            165000           0
Morocco                       0   160000                 0           0
Dominican Republic            0        0                 0      140000
Netherlands              135000        0                 0           0
Poland                        0   125000                 0           0
Ecuador                       0        0            120000           0
Ivory Coast                   0        0            105000           0
Scotland                      0        0             11000           0


Club                     All
Nationality
All                 12797000
Spain                2576000
France               1474000
Brazil               1461000
Argentina             976000
Croatia               840000
Germany               755000
Belgium               580000
Italy                 548000
Portugal              530000
England               478000
Uruguay               455000
Chile                 420000
Wales                 368000
Costa Rica            195000
Bosnia Herzegovina    180000
Serbia                165000
Morocco               160000
Dominican Republic    140000
Netherlands           135000
Poland                125000
Ecuador               120000
Ivory Coast           105000
Scotland               11000

In [145]:
df2 = football.pivot_table(columns = 'Position', index = 'Club', values = 'Wage', aggfunc = 'max')
df2.head()

Position,CAM,CB,CDM,CF,CM,GK,LAM,LB,LCB,LCM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
Club,,,,,,,,,,,,,,,,,,,,,
SSV Jahn Regensburg,NaN,5000.0,5000.0,NaN,4000.0,5000.0,NaN,6000.0,NaN,NaN,...,4000.0,8000.0,NaN,5000.0,NaN,NaN,NaN,NaN,NaN,3000.0
1. FC Heidenheim 1846,5000.0,7000.0,NaN,NaN,1000.0,4000.0,NaN,6000.0,6000.0,NaN,...,6000.0,3000.0,NaN,NaN,NaN,3000.0,NaN,NaN,NaN,4000.0
1. FC Kaiserslautern,NaN,1000.0,1000.0,NaN,NaN,1000.0,NaN,2000.0,2000.0,NaN,...,2000.0,NaN,NaN,2000.0,NaN,2000.0,2000.0,NaN,NaN,1000.0
1. FC Köln,NaN,1000.0,10000.0,NaN,3000.0,25000.0,NaN,NaN,NaN,NaN,...,5000.0,NaN,NaN,NaN,NaN,18000.0,NaN,NaN,NaN,NaN
1. FC Magdeburg,NaN,7000.0,NaN,4000.0,NaN,6000.0,NaN,2000.0,5000.0,4000.0,...,NaN,3000.0,3000.0,NaN,NaN,5000.0,8000.0,4000.0,NaN,1000.0

In [153]:
    df2.loc['Manchester City']['GK']

125000.0

In [175]:
pivot = football.pivot_table(
    values=['Name'],
    index=['Club'],
    columns=['Position'],
    aggfunc='count',
    fill_value=0,
)
pivot.head()

                      Name                                 ...                 \
Position               CAM CB CDM CF CM GK LAM LB LCB LCM  ... RB RCB RCM RDM
Club                                                       ...
 SSV Jahn Regensburg     0  5   1  0  2  3   0  2   0   0  ...  2   1   0   1
1. FC Heidenheim 1846    1  3   0  0  1  2   0  2   1   0  ...  2   1   0   0
1. FC Kaiserslautern     0  3   3  0  0  3   0  2   1   0  ...  2   0   0   1
1. FC Köln               0  1   1  0  2  3   0  0   0   0  ...  1   0   0   0
1. FC Magdeburg          0  4   0  1  0  3   0  1   1   1  ...  0   1   1   0


Position              RF RM RS RW RWB ST
Club
 SSV Jahn Regensburg   0  0  0  0   0  3
1. FC Heidenheim 1846  0  3  0  0   0  2
1. FC Kaiserslautern   0  2  1  0   0  1
1. FC Köln             0  1  0  0   0  0
1. FC Magdeburg        0  3  1  2   0  1

[5 rows x 27 columns]

In [179]:
round(pivot.Name.GK.mean(), 3)

2.525

In [180]:
pivot[pivot.Name.CM == 0].Name.CM.value_counts()

0    136
Name: CM, dtype: int64

In [184]:
pivot = football.pivot_table(
    values=['Wage'],
    index=['Nationality'],
    columns=['Club'],
    aggfunc='sum',
    fill_value=0,
)

In [188]:
pivot.loc['Russia']['Wage']['AS Monaco']

61000

In [205]:
pivot = football.pivot_table(
    values=['SprintSpeed'],
    index=['Club'],
    columns=['Position'],
    aggfunc='mean',
    fill_value=0,
)

In [206]:
pivot.SprintSpeed.max().sort_values(ascending=False)

Position
RS     94.0
RM     94.0
LM     94.0
LS     93.0
RB     93.0
LB     93.0
CF     91.0
LW     91.0
ST     91.0
RDM    91.0
RW     91.0
RCM    90.0
CAM    89.0
LF     88.0
RCB    88.0
LCB    88.0
RWB    86.0
RF     86.0
CM     86.0
LWB    86.0
LAM    85.0
LCM    84.0
CDM    83.0
LDM    79.0
RAM    78.0
CB     78.0
GK     62.0
dtype: float64

In [211]:
pivot.SprintSpeed.ST.sort_values(ascending=False).head()

Club
Vitória           91.000000
Sydney FC         88.000000
CD Lugo           87.000000
Brøndby IF        84.666667
Leicester City    84.500000
Name: ST, dtype: float64