In [2]:
import pandas as pd

In [3]:
ratings = pd.read_csv('https://lms.skillfactory.ru/assets/courseware/v1/325a6f09399d1c45671f187505e1a100/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/ratings.csv')
movies = pd.read_csv('https://lms.skillfactory.ru/assets/courseware/v1/ed94fab72b62442ef8150d9446e000d6/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/movies.csv')

In [4]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
userId       100836 non-null int64
movieId      100836 non-null int64
rating       100836 non-null float64
timestamp    100836 non-null int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [5]:
ratings.describe()

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [6]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
movieId    9742 non-null int64
title      9742 non-null object
genres     9742 non-null object
dtypes: int64(1), object(2)
memory usage: 228.4+ KB

In [7]:
items_dict = {
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394], 
    'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],
    'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]
}

In [8]:
purchase_log = {
    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132], 
    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]
}

In [9]:
items_df = pd.DataFrame(items_dict)
purchase_df = pd.DataFrame(purchase_log)

In [16]:
merged = purchase_df.merge(items_df, how='left', on='item_id', indicator=True)
merged[merged._merge == 'left_only']

   purchase_id  item_id  price vendor  stock_count     _merge
8          145   103845  89900    NaN          NaN  left_only

In [17]:
merged = purchase_df.merge(items_df, how='right', on='item_id', indicator=True)
merged[merged._merge == 'right_only']

   purchase_id  item_id  price vendor  stock_count      _merge
9          NaN   312394    NaN    ZTE           19  right_only

In [20]:
merged = purchase_df.merge(items_df, how='inner', on='item_id')
merged.item_id.nunique()

9

In [22]:
merged['amount'] = merged.price * merged.stock_count
merged[merged.amount == merged.amount.max()].item_id

6    382043
Name: item_id, dtype: int64

In [23]:
merged.amount.sum()

19729490

In [25]:
files = ['setup.py', 'ratings.txt', 'stock_stats.txt', 'movies.txt', 'run.sh', 'game_of_thrones.mov']

In [28]:
data = [x for x in files if x.find('txt') >= 0]
data

['ratings.txt', 'stock_stats.txt', 'movies.txt']

In [39]:
# from glob import glob
import os
path = '/Users/dkuleshov/Downloads/data 2'
filenames = [os.path.join(path, x) for x in os.listdir(path)]
dataframes = [pd.read_csv(f, names=['userId', 'movieId', 'rating', 'timestamp']) for f in filenames]

In [40]:
data = pd.concat(dataframes)

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100004 entries, 0 to 9999
Data columns (total 4 columns):
userId       100004 non-null int64
movieId      100004 non-null int64
rating       100004 non-null float64
timestamp    100004 non-null int64
dtypes: float64(1), int64(3)
memory usage: 3.8 MB

In [42]:
data.head()

   userId  movieId  rating   timestamp
0     483     1573     2.0  1465387568
1     483     1580     3.0  1465387435
2     483     1676     4.0  1465387586
3     483     1682     3.0  1465387384
4     483     1732     5.0  1465387406

In [43]:
ratings[ratings.rating == ratings.rating.min()].rating.value_counts()

0.5    1370
Name: rating, dtype: int64

In [45]:
mr = ratings.merge(movies, how='outer', on='movieId', indicator=True)

In [46]:
mr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100854 entries, 0 to 100853
Data columns (total 7 columns):
userId       100836 non-null float64
movieId      100854 non-null int64
rating       100836 non-null float64
timestamp    100836 non-null float64
title        100854 non-null object
genres       100854 non-null object
_merge       100854 non-null category
dtypes: category(1), float64(3), int64(1), object(2)
memory usage: 8.0+ MB

In [47]:
movies[movies.movieId == 3456]

      movieId                                         title genres
2587     3456  Color of Paradise, The (Rang-e khoda) (1999)  Drama