In [1]:
import pandas as pd

In [21]:
log = pd.read_csv('https://lms.skillfactory.ru/assets/courseware/v1/898ed1ca47bd30eb121758067cd97e2a/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/log.csv', header=None)

In [22]:
log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
0    1000 non-null object
1    985 non-null object
2    485 non-null float64
3    138 non-null float64
dtypes: float64(2), object(2)
memory usage: 31.3+ KB

In [23]:
log.head(15)

,0,1,2,3
0,Запись пользователя № - user_919,[2019-01-01 14:06:51,NaN,NaN
1,Запись пользователя № - user_973,[2019-01-01 14:51:16,NaN,NaN
2,Запись пользователя № - user_903,[2019-01-01 16:31:16,NaN,NaN
3,Запись пользователя № - user_954,[2019-01-01 17:17:51,NaN,NaN
4,Запись пользователя № - user_954,[2019-01-01 21:31:18,NaN,NaN
5,Запись пользователя № - user_917,[2019-01-01 23:34:55,156789.0,NaN
6,Запись пользователя № - user_900,[2019-01-01 4:37:25,NaN,NaN
7,Запись пользователя № - user_980,[2019-01-01 6:31:23,NaN,NaN
8,Запись пользователя № - user_906,[2019-01-02 10:57:08,NaN,NaN
9,Запись пользователя № - user_952,[2019-01-02 16:55:06,NaN,NaN
10,Запись пользователя № - user_972,[2019-01-02 20:47:54,NaN,NaN
11,Запись пользователя № - user_966,[2019-01-02 21:32:20,NaN,NaN
12,Запись пользователя № - user_964,[2019-01-02 21:32:35,NaN,NaN
13,Запись пользователя № - user_978,[2019-01-02 5:25:40,NaN,NaN
14,Запись пользователя № - user_917,[2019-01-02 8:57:36,145732.0,1987653.0

In [83]:
sample = pd.read_csv('https://lms.skillfactory.ru/assets/courseware/v1/918e647bafd21deb4413804bd4a8c865/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/sample.csv')

In [15]:
columns = sample.columns

In [16]:
sample.columns = [x.lower() for x in sample.columns]

In [17]:
sample.columns

Index(['name', 'city', 'age', 'profession'], dtype='object')

In [24]:
log.columns = ['user_id', 'time', 'bet', 'win', ]

In [25]:
log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
user_id    1000 non-null object
time       985 non-null object
bet        485 non-null float64
win        138 non-null float64
dtypes: float64(2), object(2)
memory usage: 31.3+ KB

In [26]:
log.describe()

                bet           win
count  4.850000e+02  1.380000e+02
mean   6.785738e+03  9.562102e+04
std    7.720292e+04  8.554669e+05
min    1.000000e+02  3.691000e+03
25%    3.000000e+02  5.096250e+03
50%    6.000000e+02  5.935000e+03
75%    9.000000e+02  6.978750e+03
max    1.678321e+06  9.876543e+06

In [47]:
users = pd.read_csv('https://lms.skillfactory.ru/assets/courseware/v1/5471c5ea3f70b9fefce686c669d5ce2c/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/users.csv', encoding='koi8_r', sep='\t', names=['user_id', 'email', 'geo', ])

In [48]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 3 columns):
user_id    101 non-null object
email      100 non-null object
geo        98 non-null object
dtypes: object(3)
memory usage: 2.4+ KB

In [ ]:
users.columns = ['user_id', 'email', 'geo', ]

In [49]:
sample.name.unique()

array(['Иванов', nan, 'sidorov', '_______', 'Кузнецов', 'Сажин',
       'Котлеревский', 'Завалишина', 'Левина', 'Фикс'], dtype=object)

In [50]:
sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 4 columns):
name          10 non-null object
city          10 non-null object
age           11 non-null int64
profession    11 non-null object
dtypes: int64(1), object(3)
memory usage: 432.0+ bytes

In [51]:
log.user_id.unique()

array(['Запись пользователя № - user_919',
       'Запись пользователя № - user_973',
       'Запись пользователя № - user_903',
       'Запись пользователя № - user_954',
       'Запись пользователя № - user_917',
       'Запись пользователя № - user_900',
       'Запись пользователя № - user_980',
       'Запись пользователя № - user_906',
       'Запись пользователя № - user_952',
       'Запись пользователя № - user_972',
       'Запись пользователя № - user_966',
       'Запись пользователя № - user_964',
       'Запись пользователя № - user_978',
       'Запись пользователя № - user_968',
       'Запись пользователя № - user_974',
       'Запись пользователя № - user_998',
       'Запись пользователя № - user_990',
       'Запись пользователя № - user_942',
       'Запись пользователя № - user_929',
       'Запись пользователя № - user_976',
       'Запись пользователя № - user_927',
       'Запись пользователя № - user_951',
       'Запись пользователя № - user_949',
       'Запись пользователя № - user_987',
       'Запись пользователя № - user_985',
       'Запись пользователя № - user_992',
       'Запись пользователя № - user_937',
       'Запись пользователя № - user_913',
       'Запись пользователя № - user_948',
       'Запись пользователя № - user_916',
       'Запись пользователя № - user_938',
       'Запись пользователя № - user_997',
       'Запись пользователя № - user_940',
       'Запись пользователя № - user_918',
       'Запись пользователя № - user_960',
       'Запись пользователя № - user_905',
       'Запись пользователя № - user_924',
       'Запись пользователя № - user_958',
       'Запись пользователя № - user_920',
       'Запись пользователя № - user_943',
       'Запись пользователя № - user_935',
       'Запись пользователя № - user_915',
       'Запись пользователя № - user_921',
       'Запись пользователя № - user_999',
       'Запись пользователя № - user_982',
       'Запись пользователя № - user_928',
       'Запись пользователя № - user_944',
       'Запись пользователя № - user_912',
       'Запись пользователя № - user_969',
       'Запись пользователя № - user_901',
       'Запись пользователя № - user_995',
       'Запись пользователя № - user_933',
       'Запись пользователя № - user_986',
       'Запись пользователя № - user_971',
       'Запись пользователя № - user_977',
       'Запись пользователя № - user_979',
       'Запись пользователя № - user_910',
       'Запись пользователя № - user_994',
       'Запись пользователя № - user_907',
       'Запись пользователя № - user_941',
       'Запись пользователя № - user_989',
       'Запись пользователя № - user_955',
       'Запись пользователя № - user_991',
       'Запись пользователя № - user_996',
       'Запись пользователя № - user_926',
       'Запись пользователя № - user_984',
       'Запись пользователя № - user_957',
       'Запись пользователя № - user_914',
       'Запись пользователя № - user_988',
       'Запись пользователя № - user_923',
       'Запись пользователя № - user_967',
       'Запись пользователя № - user_945',
       'Запись пользователя № - user_993',
       'Запись пользователя № - user_908',
       'Запись пользователя № - user_930',
       'Запись пользователя № - user_981',
       'Запись пользователя № - user_936',
       'Запись пользователя № - user_922',
       'Запись пользователя № - user_962',
       'Запись пользователя № - user_965',
       'Запись пользователя № - user_959',
       'Запись пользователя № - user_963',
       'Запись пользователя № - user_904',
       'Запись пользователя № - user_931',
       'Запись пользователя № - user_1000',
       'Запись пользователя № - user_946',
       'Запись пользователя № - user_970',
       'Запись пользователя № - user_939',
       'Запись пользователя № - user_961',
       'Запись пользователя № - user_911',
       'Запись пользователя № - user_950',
       'Запись пользователя № - user_956',
       'Запись пользователя № - user_909',
       'Запись пользователя № - user_983',
       'Запись пользователя № - user_902',
       'Запись пользователя № - user_947',
       'Запись пользователя № - user_975',
       'Запись пользователя № - user_953',
       'Запись пользователя № - user_925',
       'Запись пользователя № - user_934',
       'Запись пользователя № - user_932', '#error'], dtype=object)

In [52]:
sample2 = sample[sample.age < 30]
sample2

       name    city  age profession
0    Иванов  Москва   25     Клинер
2    Иванов  Москва   25     Клинер
5  Кузнецов    Сочи   19    Рабочий
6     Сажин  Сургут   29    Рабочий

In [58]:
log_win = log[log.win > 0]
win_count = len(log_win)
win_count

138

In [59]:
sample2 = sample[(sample.age < 30) & (sample.profession == 'Рабочий')]
sample2

       name    city  age profession
5  Кузнецов    Сочи   19    Рабочий
6     Сажин  Сургут   29    Рабочий

In [61]:
log2 = log.query('bet < 2000 & win > 0')
log2

                               user_id                  time     bet     win
151   Запись пользователя № - user_982  [2019-01-16 21:54:22   100.0  4749.0
189   Запись пользователя № - user_964  [2019-01-21 18:34:44   200.0  4667.0
205   Запись пользователя № - user_931   [2019-01-22 5:26:59   300.0  4319.0
232   Запись пользователя № - user_998   [2019-01-25 8:57:20   500.0  5069.0
265   Запись пользователя № - user_998  [2019-01-29 10:37:55   500.0  6294.0
294   Запись пользователя № - user_931  [2019-02-02 12:34:44   700.0  6516.0
348   Запись пользователя № - user_900  [2019-02-08 10:36:47   200.0  5290.0
360   Запись пользователя № - user_921  [2019-02-09 23:20:21   400.0  6067.0
367   Запись пользователя № - user_943  [2019-02-10 11:09:24   100.0  5456.0
376   Запись пользователя № - user_903  [2019-02-10 20:23:10   700.0  6726.0
384   Запись пользователя № - user_972  [2019-02-11 18:48:39   300.0  5035.0
393   Запись пользователя № - user_943  [2019-02-12 15:09:38   300.0  5245.0
461   Запись пользователя № - user_924  [2019-02-19 17:10:32   300.0  5266.0
469   Запись пользователя № - user_979  [2019-02-20 15:03:15   100.0  3691.0
509   Запись пользователя № - user_918   [2019-02-25 1:50:30   400.0  4829.0
517   Запись пользователя № - user_913   [2019-02-26 0:55:59   100.0  5066.0
522   Запись пользователя № - user_947  [2019-02-26 15:01:40   100.0  4378.0
523   Запись пользователя № - user_972  [2019-02-26 15:15:48   500.0  4894.0
526   Запись пользователя № - user_964  [2019-02-26 17:02:53   500.0  4889.0
545   Запись пользователя № - user_909  [2019-02-28 23:16:35   200.0  5237.0
549   Запись пользователя № - user_952   [2019-02-28 6:06:55   800.0  5590.0
557   Запись пользователя № - user_995  [2019-03-01 23:48:11   400.0  5889.0
568   Запись пользователя № - user_975   [2019-03-03 1:24:56   100.0  3927.0
574   Запись пользователя № - user_938   [2019-03-03 2:40:29   100.0  5323.0
581   Запись пользователя № - user_971  [2019-03-04 23:12:39   900.0  6916.0
584   Запись пользователя № - user_982   [2019-03-04 7:36:28   800.0  6480.0
585   Запись пользователя № - user_900   [2019-03-05 0:18:34   300.0  5638.0
591   Запись пользователя № - user_944  [2019-03-05 21:49:31   100.0  4119.0
595   Запись пользователя № - user_908   [2019-03-05 8:01:59   200.0  4216.0
596   Запись пользователя № - user_961   [2019-03-05 9:23:59   500.0  6387.0
..                                 ...                   ...     ...     ...
856   Запись пользователя № - user_939   [2019-04-05 1:33:57   500.0  5036.0
857  Запись пользователя № - user_1000  [2019-04-05 14:45:54   400.0  4701.0
869   Запись пользователя № - user_923  [2019-04-07 15:44:49   500.0  6431.0
870   Запись пользователя № - user_923  [2019-04-07 22:40:53   800.0  6313.0
884   Запись пользователя № - user_983   [2019-04-08 4:44:14   400.0  5450.0
890   Запись пользователя № - user_986   [2019-04-09 8:48:19  1000.0  7078.0
893   Запись пользователя № - user_984  [2019-04-10 14:15:31   500.0  5133.0
907   Запись пользователя № - user_939  [2019-04-12 13:35:25   500.0  5305.0
910   Запись пользователя № - user_947  [2019-04-12 18:39:39  1000.0  6610.0
911   Запись пользователя № - user_957  [2019-04-12 20:10:00   200.0  5398.0
918   Запись пользователя № - user_990  [2019-04-13 19:48:33  1000.0  7382.0
919   Запись пользователя № - user_957   [2019-04-13 3:06:11   500.0  6134.0
921   Запись пользователя № - user_950   [2019-04-13 6:25:18   600.0  5340.0
927   Запись пользователя № - user_950  [2019-04-14 19:47:32  1000.0  5778.0
931   Запись пользователя № - user_974  [2019-04-15 23:12:16   700.0  6173.0
936   Запись пользователя № - user_944   [2019-04-15 9:19:57   700.0  5453.0
940   Запись пользователя № - user_956  [2019-04-16 12:29:04   400.0  4650.0
941   Запись пользователя № - user_957  [2019-04-16 13:44:51   700.0  6171.0
947   Запись пользователя № - user_900   [2019-04-17 0:46:08   900.0  6802.0
948   Запись пользователя № - user_960   [2019-04-17 1:26:39   900.0  6363.0
949   Запись пользователя № - user_917  [2019-04-17 22:08:07   600.0  6382.0
952   Запись пользователя № - user_937  [2019-04-18 10:17:45   800.0  6570.0
953   Запись пользователя № - user_932  [2019-04-18 14:55:26   700.0  6640.0
955   Запись пользователя № - user_967  [2019-04-18 19:43:51   200.0  5213.0
961   Запись пользователя № - user_950   [2019-04-18 8:14:24  1000.0  6072.0
962   Запись пользователя № - user_976  [2019-04-19 14:18:45   400.0  5997.0
965   Запись пользователя № - user_900  [2019-04-19 19:31:48   900.0  6767.0
967   Запись пользователя № - user_975  [2019-04-19 22:25:15  1000.0  6108.0
981                             #error                   NaN   800.0  7035.0
991   Запись пользователя № - user_965  [2019-04-20 12:55:41   800.0  6927.0

[113 rows x 4 columns]

In [64]:
sample3 = sample[sample.city.str.contains('о', na=False)]
sample3

           name         city  age profession
0        Иванов       Москва   25     Клинер
1           NaN    Волгоград   31   Менеджер
2        Иванов       Москва   25     Клинер
3       sidorov  Владивосток   43   Менеджер
5      Кузнецов         Сочи   19    Рабочий
7  Котлеревский   Йошкар-Ола   32    Рабочий
8    Завалишина    Чебоксары   36   Менеджер

In [65]:
sample4 = sample[~sample.city.str.contains('о', na=False)]
sample4

       name    city  age profession
4   _______   Курск   50   Водитель
6     Сажин  Сургут   29    Рабочий
9    Левина     NaN   55    Рабочий
10     Фикс    Рига   42    Рабочий

In [66]:
new_log = log[~log.user_id.str.contains('error')]

In [85]:
# sample = pd.read_csv('https://lms.skillfactory.ru/assets/courseware/v1/918e647bafd21deb4413804bd4a8c865/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/sample.csv')
sample2 = sample.copy()
sample2.Age = sample2.Age.apply(lambda x: x + 1)
sample2

            Name         City  Age Profession
0         Иванов       Москва   26     Клинер
1            NaN    Волгоград   32   Менеджер
2         Иванов       Москва   26     Клинер
3        sidorov  Владивосток   44   Менеджер
4        _______        Курск   51   Водитель
5       Кузнецов         Сочи   20    Рабочий
6          Сажин       Сургут   30    Рабочий
7   Котлеревский   Йошкар-Ола   33    Рабочий
8     Завалишина    Чебоксары   37   Менеджер
9         Левина          NaN   56    Рабочий
10          Фикс         Рига   43    Рабочий

In [86]:
# sample = pd.read_csv('https://lms.skillfactory.ru/assets/courseware/v1/918e647bafd21deb4413804bd4a8c865/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/sample.csv')
sample2 = sample.copy()
sample2.City = sample2.City.apply(lambda x: str(x).lower())
sample2

            Name         City  Age Profession
0         Иванов       москва   25     Клинер
1            NaN    волгоград   31   Менеджер
2         Иванов       москва   25     Клинер
3        sidorov  владивосток   43   Менеджер
4        _______        курск   50   Водитель
5       Кузнецов         сочи   19    Рабочий
6          Сажин       сургут   29    Рабочий
7   Котлеревский   йошкар-ола   32    Рабочий
8     Завалишина    чебоксары   36   Менеджер
9         Левина          nan   55    Рабочий
10          Фикс         рига   42    Рабочий

In [87]:
def profession_code(s):
    d = {
        "Рабочий": 0,
        "Менеджер": 1,
    }
    return d.get(s, 2)

In [90]:
profession_code('Менеджер')

1

In [91]:
sample2 = sample.copy()
sample2.Profession = sample2.Profession.apply(profession_code)
sample2

            Name         City  Age  Profession
0         Иванов       Москва   25           2
1            NaN    Волгоград   31           1
2         Иванов       Москва   25           2
3        sidorov  Владивосток   43           1
4        _______        Курск   50           2
5       Кузнецов         Сочи   19           0
6          Сажин       Сургут   29           0
7   Котлеревский   Йошкар-Ола   32           0
8     Завалишина    Чебоксары   36           1
9         Левина          NaN   55           0
10          Фикс         Рига   42           0

In [92]:
def age_category(age):
# Ваш код ниже
    if age < 23:
        return "молодой"
    if age > 35:
        return "зрелый"
    return "средний"

In [93]:
sample = pd.read_csv('https://lms.skillfactory.ru/assets/courseware/v1/918e647bafd21deb4413804bd4a8c865/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/sample.csv')

def age_category(age):
    if age < 23:
        return "молодой"
    if age > 35:
        return "зрелый"
    return "средний"

sample['Age_category'] = sample.Age.apply(age_category)
sample

            Name         City  Age Profession Age_category
0         Иванов       Москва   25     Клинер      средний
1            NaN    Волгоград   31   Менеджер      средний
2         Иванов       Москва   25     Клинер      средний
3        sidorov  Владивосток   43   Менеджер       зрелый
4        _______        Курск   50   Водитель       зрелый
5       Кузнецов         Сочи   19    Рабочий      молодой
6          Сажин       Сургут   29    Рабочий      средний
7   Котлеревский   Йошкар-Ола   32    Рабочий      средний
8     Завалишина    Чебоксары   36   Менеджер       зрелый
9         Левина          NaN   55    Рабочий       зрелый
10          Фикс         Рига   42    Рабочий       зрелый

In [94]:
def clear_user_id(user_id):
    if user_id == '#error':
        return ''
    return user_id[len('Запись пользователя № - '):]

In [96]:
log.user_id = log.user_id.apply(clear_user_id)

In [97]:
log.head()

    user_id                  time  bet  win
0  user_919  [2019-01-01 14:06:51  NaN  NaN
1  user_973  [2019-01-01 14:51:16  NaN  NaN
2  user_903  [2019-01-01 16:31:16  NaN  NaN
3  user_954  [2019-01-01 17:17:51  NaN  NaN
4  user_954  [2019-01-01 21:31:18  NaN  NaN

In [98]:
log = pd.read_csv('https://lms.skillfactory.ru/assets/courseware/v1/898ed1ca47bd30eb121758067cd97e2a/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/log.csv', header=None)
log.columns = ['user_id','time','bet','win']
t = log.time[0]
# Удалите квадратную скобку из t, чтобы привести его к более привычному формату
t = t[1:]

In [99]:
t

'2019-01-01 14:06:51'

In [104]:
log = pd.read_csv('https://lms.skillfactory.ru/assets/courseware/v1/898ed1ca47bd30eb121758067cd97e2a/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/log.csv', header=None)
log.columns = ['user_id','time','bet','win']

def clear_time(time):
    try:
        return time.replace('[', '')
    except AttributeError:
        return time

log.time = log.time.apply(clear_time)
log.tail()

                              user_id                time      bet      win
995  Запись пользователя № - user_984  2019-04-20 9:59:58   9754.0      NaN
996                            #error                 NaN  10054.0  29265.0
997                            #error                 NaN  10454.0      NaN
998                            #error                 NaN   1000.0      NaN
999                            #error                 NaN  10754.0      NaN

In [105]:
log = pd.read_csv('https://lms.skillfactory.ru/assets/courseware/v1/898ed1ca47bd30eb121758067cd97e2a/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/log.csv', header=None)
log.columns = ['user_id','time','bet','win']

def clear_time(time):
    try:
        return time.replace('[', '')
    except AttributeError:
        return time

def clear_user_id(user_id):
    if user_id == '#error':
        return ''
    return user_id[len('Запись пользователя № - '):]

log = log[~log.user_id.str.contains('error')]
log.user_id = log.user_id.apply(clear_user_id)
log.time = log.time.apply(clear_time)
log.tail()

      user_id                 time      bet     win
991  user_965  2019-04-20 12:55:41    800.0  6927.0
992  user_967  2019-04-20 14:59:36  10154.0     NaN
993  user_973  2019-04-20 17:09:56  10254.0     NaN
994  user_977  2019-04-20 18:10:07  10354.0     NaN
995  user_984   2019-04-20 9:59:58   9754.0     NaN